{% extends "control/control_base.html" %}

{% comment %}
<Program>
    control/registeranexperiment.html

    <Author>
        Originally by?:
        Justin Samuel 2009

        Modified:
        Gaetano Pressimone 2012
        Eric Velazquez 2017

        <Purpose>
            Django template file for the testbed clearinghouse's 'register an experiment' page.
            This help page is for logged in users only.

            <Extends>
                control/control_base.html

                <Stylesheet>
                    common.css
                    account.css
                    

                    <Scripts>
                        register.js

                        <Template Variables>
                            form: 
                            New experiment registration form. 


                            {% endcomment %}

                            {% block title %}
                            Experiment registration - {{ TESTBED }} {{ CLEARINGHOUSE }}
                            {% endblock title %}

                            {% block script %}
                            {{ block.super }}
                                <!--<script type="text/javascript" src="{{MEDIA_URL}}scripts/register.js" charset="utf-8"></script>-->
                                
                                <!--<script type="text/javascript">$('.collapse').collapse();</script>-->
                            {% endblock script %}

                            {% block style %}
                            {{ block.super }}
                            <link href="{{ MEDIA_URL }}css/help.css" rel="stylesheet" type="text/css"/>
                            {% endblock style %}

                            {% block nav_register_expe %}
                            <td class="active"><a href="{% url 'registerexperiment' %}">Register Experiment</a></td>
                            {% endblock nav_register_expe %}

                            {% block content %}
                            <div id="main">
                                <div id="middle">
                                   
                                <form action="{% url 'registerexperiment' %}" method="post" enctype="multipart/form-data">

                                    {% csrf_token %}

                                    {{ form }}
                                    <input type="submit" value="Submit" />
                                </form>



                            {% endblock content %}